<div class="user_nav">

  <% if @user %>
    <%= image_tag @user['picture']['data']['url'].to_s %>
    <%= @user['name'] %>
  <% else%>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>

</div>
